body{
    font-family: sans-serif;
    background-color: whitesmoke;
}
nav{
    background-color: maroon;
    height: 22vh;
    padding: 6px;
}
nav:hover{
    background-color: whitesmoke;
}
p{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: whitesmoke;
    text-align: center;
    letter-spacing: 12px;
}
p:hover{
    color: maroon;
}
.main-nav{
    font-size: 14px;
    font-weight: bold;
    margin-top: 2vh;
    display: inline-block;
    padding: 5px 0px;
    background-color: whitesmoke;
}
.main-nav li{
    display: inline-block;
}
.main-nav li.active a{
    text-decoration: none;
    background-color: maroon;
    color: whitesmoke;
    padding: 3px 80px;
}
.main-nav li.active a:hover{
    background-color: whitesmoke;
    color: maroon;
}
header{
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    margin: 7vh;
    padding: 3px 6px;
    color: black;
    letter-spacing: 15px;
}
header1{
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    background-color: skyblue;
    color: maroon;
    line-height: 8vh;
    padding: 0px 526px;
    letter-spacing: 10px;
}
header1:hover{
    color: whitesmoke;
    background-color: red;
}
ul {
    font-size: 10px;
    font-weight: bold;
    margin-top: 1vh;
    display: inline-block;
    padding: 0px;
}
ul li{
    display: inline-block;
}
ul li a{
    color: whitesmoke;
    font-size: 13px;
    font-weight: bold;
    padding: 3px  82.5px;
    text-transform: uppercase;
    text-decoration: none;
}
ul li a:hover{
    background-color: whitesmoke;
    color: maroon;
}
a.active {
    background: maroon;
}
h1{
    float: left;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0vh;
    padding: 0px 90px;
}
h1:hover{
    color: whitesmoke;
    background-color: red;
}
h2{
    font-size: 13px;
    margin: 0vh;
    padding: 0px 55px;
    float: left;
    text-transform: uppercase;
}
h2:hover{
    color: whitesmoke;
    background-color: red;
}
h3{
    float: left;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0vh;
    padding: 0px 80px;
}
h3:hover{
    color: whitesmoke;
    background-color: red;
}
h4{
    float: left;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0vh;
    padding: 0px 105px;
}
h4:hover{
    color: whitesmoke;
    background-color: red;
}
h5{
    float: left;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0vh;
    padding: 0px 40px;
}
h5:hover{
    color: whitesmoke;
    background-color: red;
}
h6{
    float: left;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0vh;
    padding: 0px 85px;
}
h6:hover{
    background-color: red;
    color: whitesmoke;
}
h7{
    float: left;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0px 89px;
}
h7:hover{
    color: whitesmoke;
    background-color: red;
}
h8{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 57px;
}
h8:hover{
    color: whitesmoke;
    background-color: red;
}
h9{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 80px;
}
h9:hover{
    color: whitesmoke;
    background-color: red;
}
h10{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 100px;
}
h10:hover{
    color: whitesmoke;
    background-color: red;
}
h11{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 50px;
}
h11:hover{
    color: whitesmoke;
    background-color: red;
}
h12{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 89px;
}
h12:hover{
    background-color: red;
    color: whitesmoke;
}
h13{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 90px;
    margin: 0vh;
    float: left;
}
h13:hover{
    color: whitesmoke;
    background-color: red;
}
h14{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 53px;
}
h14:hover{
    color: whitesmoke;
    background-color: red;
}
h15{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 77px;
}
h15:hover{
    color: whitesmoke;
    background-color: red;
}
h16{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 110px;
}
h16:hover{
    color: whitesmoke;
    background-color: red;
}
h17{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 40px;
}
h17:hover{
    color: whitesmoke;
    background-color: red;
}
h18{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 80px;
}
h18:hover{
    background-color: red;
    color: whitesmoke;
}
h19{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 89px;
}
h19:hover{
    color: whitesmoke;
    background-color: red;
}
h20{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding:  0px 55px;
}
h20:hover{
    color: whitesmoke;
    background-color: red;
}
h21{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 84px;
}
h21:hover{
    color: whitesmoke;
    background-color: red;
}
h22{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 103px;
}
h22:hover{
    color: whitesmoke;
    background-color: red;
}
h23{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 49px;
}
h23:hover{
    color: whitesmoke;
    background-color: red;
}
h24{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 73px;
}
h24:hover{
    background-color: red;
    color: whitesmoke;
}
h25{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 88px;
}
h25:hover{
    color: whitesmoke;
    background-color: red;
}
h26{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 45px;
}
h26:hover{
    color: whitesmoke;
    background-color: red;
}
h27{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 85px;
}
h27:hover{
    color: whitesmoke;
    background-color: red;
}
h28{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 103px;
}
h28:hover{
    color: whitesmoke;
    background-color: red;
}
h29{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 48px;
}
h29:hover{
    color: whitesmoke;
    background-color: red;
}
h30{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 70px;
}
h30:hover{
    background-color: red;
    color: whitesmoke;
}
h31{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 89px;
}
h31:hover{
    color: whitesmoke;
    background-color: red;
}
h32{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 50px;
}
h32:hover{
    color: whitesmoke;
    background-color: red;
}
h33{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 86px;
}
h33:hover{
    color: whitesmoke;
    background-color: red;
}
h34{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 102px;
}
h34:hover{
    color: whitesmoke;
    background-color: red;
}
h35{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 55px;
}
h35:hover{
    color: whitesmoke;
    background-color: red;
}
h36{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 73px;
}
h36:hover{
    color: whitesmoke;
    background-color: red;
}
h37{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 89px;
}
h37:hover{
    color: whitesmoke;
    background-color: red;
}
h38{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 52px;
}
h38:hover{
    color: whitesmoke;
    background-color: red;
}
h39{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 87px;
}
h39:hover{
    color: whitesmoke;
    background-color: red;
}
h40{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 93px;
}
h40:hover{
    color: whitesmoke;
    background-color: red;
}
h41{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 53px;
}
h41:hover{
    color: whitesmoke;
    background-color: red;
}
h42{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 71px;
}
h42:hover{
    color: whitesmoke;
    background: red;
}
h43{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 89px;
}
h43:hover{
    color: whitesmoke;
    background-color: red;
}
h44{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 70px;
}
h44:hover{
    color: whitesmoke;
    background-color: red;
}
h45{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 87px;
}
h45:hover{
    color: whitesmoke;
    background-color: red;
}
h46{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 93px;
}
h46:hover{
    color: whitesmoke;
    background-color: red;
}
h47{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 55px;
}
h47:hover{
    color: whitesmoke;
    background-color: red;
}
h48{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 73px;
}
h48:hover{
    color: whitesmoke;
    background-color: red;
}
h49{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 88px;
}
h49:hover{
    color: whitesmoke;
    background-color: red;
}
h50{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 68px;
}
h50:hover{
    color: whitesmoke;
    background-color: red;
}
h51{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 85px;
}
h51:hover{
    color: whitesmoke;
    background-color: red;
}
h52{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 103px;
}
h52:hover{
    color: whitesmoke;
    background-color: red;
}
h53{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 54px;
}
h53:hover{
    color: whitesmoke;
    background-color: red;
}
h54{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 74px;
}
h54:Hover{
    color: whitesmoke;
    background-color: red;
}
h55{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 88px;
}
h55:hover{
    color: whitesmoke;
    background-color: red;
}
h56{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 45px;
}
h56:hover{
    color: whitesmoke;
    background-color: red;
}
h57{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 91px;
}
h57:hover{
    color: whitesmoke;
    background-color: red;
}
h58{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 90px;
}
h58:hover{
    color: whitesmoke;
    background-color: red;
}
h59{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 58px;
}
h59:hover{
    color: whitesmoke;
    background-color: red;
}
h60{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 69px;
}
h60:hover{
    color: whitesmoke;
    background-color: red;
}
h61{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 87px;
}
h61:hover{
    color: whitesmoke;
    background-color: red;
}
h62{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 55px;
}
h62:hover{
    color: whitesmoke;
    background-color: red;
}
h63{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 92px;
}
h63:hover{
    color: whitesmoke;
    background-color: red;
}
h64{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 96px;
}
h64:hover{
    color: whitesmoke;
    background-color: red;
}
h65{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 68px;
}
h65:hover{
    color: whitesmoke;
    background-color: red;
}
h66{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 63px;
}
h66:hover{
    color: whitesmoke;
    background-color: red;
}
h66:hover{
    color: whitesmoke;
    background-color: red;
}
h67{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 86px;
}
h67:hover{
    color: whitesmoke;
    background-color: red;
}
h68{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 65px;
}
h68:hover{
    color: whitesmoke;
    background-color: red;
}
h69{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 84px;
}
h69:hover{
    color: whitesmoke;
    background-color: red;
}
h70{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 97px;
}h70:hover{
    color: whitesmoke;
    background-color: red;
}
h71{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 48px;
}
h71:hover{
    color: whitesmoke;
    background-color: red;
}
h72{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 70px;
}
h72:hover{
    color: whitesmoke;
    background-color: red;
}
h73{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 87px;
}
h73:hover{
    color: whitesmoke;
    background-color: red;
}
h74{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 65px;
}
h74:hover{
    color: whitesmoke;
    background-color: red;
}
h75{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 92px;
}
h75:hover{
    color: whitesmoke;
    background-color: red;
}
h76{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 95px;
}
h76:hover{
    color: whitesmoke;
    background-color: red;
}
h77{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 70px;
}
h77:hover{
    color: whitesmoke;
    background-color: red;
}
h78
{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 58px;
}
h78:hover{
    color: whitesmoke;
    background-color: red;
}
h79{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 86px;
}
h79:hover{
    color: whitesmoke;
    background-color: red;
}
h80{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 35px;
}
h80:hover{
    color: whitesmoke;
    background-color: red;
}
h81{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 91px;
}
h81:hover{
    color: whitesmoke;
    background-color: red;
}
h82{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 90px;
}
h82:hover{
    color: whitesmoke;
    background-color: red;
}
h83{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 55px;
}
h83:hover{
    color: whitesmoke;
    background-color: red;
}
h84{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 70px;
}
h84:hover{
    color: whitesmoke;
    background-color: red;
}
h85{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 85px;
}
h85:hover{
    color: whitesmoke;
    background-color: red;
}
h86{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 60px;
}
h86:hover{
    color: whitesmoke;
    background-color: red;
}
h87{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 94px;
}
h87:hover{
    color: whitesmoke;
    background-color: red;
}
h88{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 87px;
}
h88:hover{
    color: whitesmoke;
    background-color: red;
}
h89{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 62px;
}
h89:hover{
    color: whitesmoke;
    background-color: red;
}
h90{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 66px;
}
h90:hover{
    color: whitesmoke;
    background-color: red;
}
h91{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 86px;
}
h91:hover{
    color: whitesmoke;
    background-color: red;
}
h92{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 45px;
}
h92:hover{
    color: whitesmoke;
    background-color: red;
}
h93{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 97px;
}
h93:hover{
    color: whitesmoke;
    background-color: red;
}
h94{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 84px;
}
h94:hover{
    color: whitesmoke;
    background-color: red;
}
h95{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 64px;
}
h95:hover{
    color: whitesmoke;
    background-color: red;
}
h96{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 62px;
}
h96:Hover{
    color: whitesmoke;
    background-color: red;
}h97{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 85px;
}
h97:hover{
    color: whitesmoke;
    background-color: red;
}
h98{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 42px;
}
h98:hover{
    color: whitesmoke;
    background-color: red;
}
h99{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 99px;
}
h99:hover{
    color: whitesmoke;
    background-color: red;
}
h100{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 82px;
}
h100:hover{
    color: whitesmoke;
    background-color: red;
}
h101{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 66px;
}
h101:hover{
    color: whitesmoke;
    background-color: red;
}
h102{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 58px;
}
h102:hover{
    color: whitesmoke;
    background-color: red;
}
h103{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 87px;
}
h103:hover{
    color: whitesmoke;
    background-color: red;
}
h104{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 43px;
}
h104:hover{
    color: whitesmoke;
    background-color: red;
}
h105{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 108px;
}
h105:hover{
    color: whitesmoke;
    background-color: red;
}
h106{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 77px;
}
h106:hover{
    color: whitesmoke;
    background-color: red;
}
h107{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 65px;
}
h107:hover{
    color: whitesmoke;
    background-color: red;
}
h108{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 45px;
}
h108:hover{
    color: whitesmoke;
    background-color: red;
}
h109{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 86px;
}
h109:hover{
    color: whitesmoke;
    background-color: red;
}
h110{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 40px;
}
h110:hover{
    color: whitesmoke;
    background-color: red;
}
h111{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 110px;
}
h111:hover{
    color: whitesmoke;
    background-color: red;
}
h112{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 72px;
}
h112:hover{
    color: whitesmoke;
    background-color: red;
}
h113{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 75px;
}
h113:hover{
    color: whitesmoke;
    background-color: red;
}
h114{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 49px;
}
h114:hover{
    color: whitesmoke;
    background-color: red;
}
h115{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 86px;
}
h115:hover{
    color: whitesmoke;
    background-color: red;
}
h116{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 30px;
}
h116:hover{
    color: whitesmoke;
    background-color: red;
}
h117{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 113px;
}
h117:hover{
    color: whitesmoke;
    background-color: red;
}
h118{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 73px;
}
h118:hover{
    color: whitesmoke;
    background-color: red;
}
h119{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 81px;
}
h119:hover{
    color: whitesmoke;
    background-color: red;
}
h120{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 37px;
}
h120:hover{
    color: whitesmoke;
    background-color: red;
}
h121{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 86px;
}
h121:hover{
    color: whitesmoke;
    background-color: red;
}
h122{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 50px;
}
h122:hover{
    color: whitesmoke;
    background-color: red;
}
h123{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 111px;
}
h123:hover{
    color: whitesmoke;
    background-color: red;
}
h124{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 71px;
}
h124:hover{
    color: whitesmoke;
    background-color: red;
}
h125{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 77px;
}
h125:hover{
    color: whitesmoke;
    background-color: red;
}
h126{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 51px;
}
h126:hover{
    color: whitesmoke;
    background-color: red;
}
h127{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 84px;
}
h127:hover{
    color: whitesmoke;
    background-color: red;
}
h128{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 20px;
}
h128:hover{
    color: whitesmoke;
    background-color: red;
}
h129{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 116px;
}
h129:hover{
    color: whitesmoke;
    background-color: red;
}
h130{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 70px;
}
h130:hover{
    color: whitesmoke;
    background-color: red;
}
h131{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 85px;
}
h131:hover{
    color: whitesmoke;
    background-color: red;
}
h132{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 33px;
}
h132:hover{
    color: whitesmoke;
    background-color: red;
}
h133{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 84px;
}
h133:hover{
    color: whitesmoke;
    background-color: red;
}
h134{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 45px;
}
h134:hover{
    color: whitesmoke;
    background-color: red;
}
h135{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 105px;
}
h135:hover{
    color: whitesmoke;
    background-color: red;
}
h136{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 82px;
}
h136:hover{
    color: whitesmoke;
    background-color: red;
}
h137{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 78px;
}
h137:hover{
    color: whitesmoke;
    background-color: red;
}
h138{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 52px;
}
h138:hover{
    color: whitesmoke;
    background-color: red;
}
h139{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 84px;
}
h139:hover{
    color: whitesmoke;
    background-color: red;
}
h140{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 48px;
}
h140:hover{
    color: whitesmoke;
    background-color: red;
}
h141{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 100px;
}
h141:hover{
    color: whitesmoke;
    background-color: red;
}
h142{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 88px;
}
h142:hover{
    color: whitesmoke;
    background-color: red;
}
h143{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 77px;
}
h143:hover{
    color: whitesmoke;
    background-color: red;
}
h144{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 58px;
}
h144:hover{
    color: whitesmoke;
    background-color: red;
}
h145{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 84px;
}
h145:hover{
    color: whitesmoke;
    background-color: red;
}
h146{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 48px;
}
h146:hover{
    color: whitesmoke;
    background-color: red;
}
h147{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 102px;
}
h147:hover{
    color: whitesmoke;
    background-color: red;
}
h148{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 86px;
}
h148:hover{
    color: whitesmoke;
    background-color: red;
}
h149{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 66px;
}
h149:hover{
    color: whitesmoke;
    background-color: red;
}
h150{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 48px;
}
h150:hover{
    color: whitesmoke;
    background-color: red;
}
h151{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 84px;
}
h151:hover{
    color: whitesmoke;
    background-color: red;
}
h152{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 50px;
}
h152:hover{
    color: whitesmoke;
    background-color: red;
}
h153{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 100px;
}
h153:hover{
    color: whitesmoke;
    background-color: red;
}
h154{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 88px;
}
h154:hover{
    color: whitesmoke;
    background-color: red;
}
h155{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 70px;
}
h155:hover{
    color: whitesmoke;
    background-color: red;
}
h156{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 47px;
}
h156:hover{
    color: whitesmoke;
    background-color: red;
}
h157{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 84px;
}
h157:hover{
    color: whitesmoke;
    background-color: red;
}
h158{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 40px;
}
h158:hover{
    color: whitesmoke;
    background-color: red;
}
h159{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 104px;
}
h159:hover{
    color: whitesmoke;
    background-color: red;
}
h160{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 80px;
}
h160:hover{
    color: whitesmoke;
    background-color: red;
}
h161{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 70px;
}
h161:hover{
    color: whitesmoke;
    background-color: red;
}
h162{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 65px;
}
h162:hover{
    color: whitesmoke;
    background-color: red;
}
h163{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 84px;
}
h163:hover{
    color: whitesmoke;
    background-color: red;
}
h164{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 42px;
}
h164:hover{
    color: whitesmoke;
    background-color: red;
}
h165{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 104px;
}
h165:hover{
    color: whitesmoke;
    background-color: red;
}
h166{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 80px;
}
h166:hover{
    color: whitesmoke;
    background-color: red;
}
h167{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 66px;
}
h167:hover{
    color: whitesmoke;
    background-color: red;
}
h168{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 49px;
}
h168:hover{
    color: whitesmoke;
    background-color: red;
}
h169{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 89px;
}
h169:hover{
    color: whitesmoke;
    background-color: red;
}
h170{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 41px;
}
h170:hover{
    color: whitesmoke;
    background-color: red;
}
h171{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 109px;
}
h171:hover{
    color: whitesmoke;
    background-color: red;
}
h172{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 78px;
}
h172:hover{
    color: whitesmoke;
    background-color: red;
}
h173{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 75px;
}
h173:hover{
    color: whitesmoke;
    background-color: red;
}
h174{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 38px;
}
h174:hover{
    color: whitesmoke;
    background-color: red;
}
h175{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 82px;
}
h175:hover{
    color: whitesmoke;
    background-color: red;
}
h176{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 48px;
}
h176:hover{
    color: whitesmoke;
    background-color: red;
}
h177{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 100px;
}
h177:hover{
    color: whitesmoke;
    background-color: red;
}
h178{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 85px;
}
h178:hover{
    color: whitesmoke;
    background-color: red;
}
h179{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 65px;
}
h179:hover{
    color: whitesmoke;
    background-color: red;
}
h180{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 63px;
}
h180:hover{
    color: whitesmoke;
    background-color: red;
}
h181{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 84px;
}
h181:hover{
    color: whitesmoke;
    background-color: red;
}
h182{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 52px;
}
h182:hover{
    color: whitesmoke;
    background-color: red;
}
h183{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 107px;
}
h183:hover{
    color: whitesmoke;
    background-color: red;
}
h184{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 77px;
}
h184:hover{
    color: whitesmoke;
    background-color: red;
}
h185{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 73px;
}
h185:hover{
    color: whitesmoke;
    background-color: red;
}
h186{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 53px;
}
h186:hover{
    color: whitesmoke;
    background-color: red;
}
h187{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 84px;
}
h187:hover{
    color: whitesmoke;
    background-color: red;
}
h188{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 54px;
}
h188:hover{
    color: whitesmoke;
    background-color: red;
}
h189{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 106px;
}
h189:hover{
    color: whitesmoke;
    background-color: red;
}
h190{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 82px;
}
h190:hover{
    color: whitesmoke;
    background-color: red;
}
h191{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 78px;
}
h191:hover{
    color: whitesmoke;
    background-color: red;
}
h192{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 41px;
}
h192:hover{
    color: whitesmoke;
    background-color: red;
}
h193{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 85px;
}
h193:hover{
    color: whitesmoke;
    background-color: red;
}
h194{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 51px;
}
h194:hover{
    color: whitesmoke;
    background-color: red;
}
h195{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 109px;
}
h195:hover{
    color: whitesmoke;
    background-color: red;
}
h196{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 78px;
}
h196:hover{
    color: whitesmoke;
    background-color: red;
}
h197{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 68px;
}
h197:hover{
    color: whitesmoke;
    background-color: red;
}
h198{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 41px;
}
h198:hover{
    color: whitesmoke;
    background-color: red;
}
h199{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 84px;
}
h199:hover{
    color: whitesmoke;
    background-color: red;
}
h200{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 51px;
}
h200:hover{
    color: whitesmoke;
    background-color: red;
}
h201{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 105px;
}
h201:hover{
    color: whitesmoke;
    background-color: red;
}
h202{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 82px;
}
h202:hover{
    color: whitesmoke;
    background-color: red;
}
h203{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 73px;
}
h203:hover{
    color: whitesmoke;
    background-color: red;
}
h204{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 38px;
}
h204:hover{
    color: whitesmoke;
    background-color: red;
}